* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: cursive;
}

.testimonial-container {
    width: 500px;
    height: 100px;
    background-color: slateblue;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    padding: 120px 20px;
    margin: 5px;
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

.username {
    text-align: start;
    margin-top: 10px;
    font-weight: 200;
}